:root {
  --color-primario: #005baa;
  --color-secundario: #003f6f;
  --color-fondo: #f4f4f8;
  --color-texto: #333;
  --color-texto-secundario: #666;
  --color-blanco: #fff;
  --color-hover: #003f6f;
  --color-precio-descuento: #d40000;
}
